
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>{{ site.title2 }}</span></a></h1>
    <ul class="navbar">
      {% for item in site.navbar %}
      <li>
        {% if item.url contains '://' %}
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% else %}
        <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
